services:
#  app:
#    image: beomiya/cicd-study:latest
#    ports:
#      - "8080:8080"
#    environment:
#      - SPRING_PROFILES_ACTIVE=prod
  jenkins:
    image: jenkins/jenkins:latest
    user: root
    ports:
      - "8081:8080"
      - "50000:50000"
    volumes:
      - ${HOST_JENKINS_HOME}:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    links:
      - worker-1

  worker-1:
    build:
      context: .
      dockerfile: Dockerfile.jenkins-agent
    user: root
    volumes:
      - ${HOST_JENKINS_WORKER_1}:/home/jenkins
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - JENKINS_SLAVE_SSH_PUBKEY=ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCTKvRksD94opG1iiqi1YE9mibpaHQUBrRF9EjI68gOqunqBEjtBVR1HVN4Ga5kUxLMlDbDZAa/0ZCM3y+fvCpfwANQ4C4EoUB9dPyoDXUIAQYhzBZzmDKZm9EPWw7+ug0egDCVsPgpFJWpDX/pf3qmkRHtd6Xcv8SvQedzjO/vHvHnpbdrLeh6fF0Bw4xffoimQQsTo7T0MBhV79nG9yinMzsRigk1/egCq7UQs0azvnqBfzLSugHFuvw42GvGdG/zxrj0XjjgcXckgBAgx1Jw4YFq4yOCxFHREOZRph7PXcYWeDRfHsI22BfYVQzi9ksbhl7V/xhKoifju4Gmr4ASQheHaHxNfZzbp2tHGwpXFLjDJUji7Oj3l/NfWlDTftEJsf1RgdIu4PKpWPyMxlm0YywyRiiyvv92uRGSFai6Ye6La3O8aLHYbZ3gUiNaEd+1toWOggCqTMe8mpXABQG7oRSdr+iTw3PTveuQN+5MOV9173t+rPHTLHrL+/ORsU5lYvKp8S93wdFx5T/fe/c5A2wOKlrETRnfyTBSOpEnjRNtzaYvXmyGdKgfJ8zJE6RlCyZuFc1zItNRrELnHK+fHY0c/3gT3FMqm9uF15eDfZGCRvU2Xve/GgF3wcAIbi+R3wUkTARAET1QzX5T3JYjM+qUVeNv3/79lkh6M5KkqQ== jenkins@e6bad8d61e5f

  sonarqube:
    image: sonarqube:9-community
    ports:
      - "9000:9000"
