services:
#  app:
#    image: beomiya/cicd-study:latest
#    ports:
#      - "8080:8080"
#    environment:
#      - SPRING_PROFILES_ACTIVE=prod
  jenkins:
    image: jenkins/jenkins:latest
    user: root
    ports:
      - "8081:8080"
      - "50000:50000"
    volumes:
      - ${HOST_JENKINS_HOME}:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    links:
      - worker-1

  worker-1:
    build:
      context: .
      dockerfile: Dockerfile.jenkins-agent
    user: root
    volumes:
      - ${HOST_JENKINS_WORKER_1}:/home/jenkins
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - JENKINS_SLAVE_SSH_PUBKEY=ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDEjmuoAV8T+RGno1gepcXa9CLnUH/k3p3ktzymlOd5eFZfobC4hQjeSfy+NjV/YoREwLpkyTQXCEJyOkQXPTYQ71E8fxd7KRUqZC0zUmP77XFGnjFPSBHJPL605lcrMPkw2o6+zTdRxYEdtcKCA4QM37jbIgTMGBxLm5tjR2pFqL31WUm/Fi7CX0BEBAcoFLoA0PqiFpOzaMx9px03y4Cqo8PeWmpSSioXMfVlP7twFJA54HUClyG03sRb6wze80x58lHmQN6bavyJ4bvHl0H29YE//cs6bn/xpr5jQByMSDvAUlzqL8kHm0+S4bbbnKAt4q63xysgDbOyOh0+YAoDb4Rm2J7NnrgCodLfpShy5n4aSrqo/SGO3ovgyxv6AieSbuYIDwC1qmK+UR11psGR//jDTRZ7xCccWUQ0iyUNJ2fnL6+DhdHEDBOIZuehhJSNF7f2gD/+d9dN1ghUral5yU+r8J1fQz6zxZs8wO4jZwqZJPREWMBzo6Qkx7fm4JVgGlXAd5p+feHjjhp8xUstafrGkfNfCINeyBOBg6LLg20QgUR7QhC0JnDsvVMA7jjd10h7FKMRQKWOuqfWe9AvJjevVXKNhDCju2Jme/Vzjw+VKdOhEvlugyPe1JIh7Ogi1pHEt/6HUqaAO84m3g1H0Y5AvZyLpd45ILDwEjoXOw== gusqja0213@baghyeonbeom-ui-noteubug.local

  sonarqube:
    image: sonarqube:9-community
    ports:
      - "9000:9000"
